<div ng-controller="leagueController">
    <div class="col-xs-12 divpadding" ng-repeat="Team in ListTeams">
        <a style="cursor:pointer;" ng-href="/SportsStats/Team/{{Team.ID}}">{{Team.Name}}</a>
    </div>
    <div class="col-xs-12" ng-hide="ReadOnly">
        <img src="/SportsStats/assets/img/add.png" style="cursor: pointer; margin-right:7px;" ng-click="AddTeam(NewTeam)" />
        <input ng-model="NewTeam.Name" placeholder="team name" />
    </div>
	<div class="col-xs-12" ng-hide="ReadOnly || ListAvailableTeams.length === 0">
		<img src="/SportsStats/assets/img/add.png" style="cursor: pointer; margin-right:7px;" ng-click="AddTeam(NewTeam)" />
		<select ng-model="NewTeam.ID" style="width:100%; max-width:175px;">
			<option ng-repeat="Team in ListAvailableTeams" value="{{Team.ID}}">{{Team.Name}}</option>
		</select>
	</div>
</div>
