################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.min.css
*.map
*.min.js
*.intellisense.js
*.dll
bin
logs
node_modules
obj
PublishProfiles
Data
Web.Release.config
Web.config
Web.Debug.config
packages
*.suo
/.vs/VSWorkspaceState.json
/.vs/SportsStats/FileContentIndex
/.vs/SportsStatsDev2/v17/.wsuo
/.vs/*
/SportsStats/SportsStats.csproj.user
/SportsStats/Web.config
