<div ng-controller="loginController">
    <table class="statTable">
        <tr>
            <td>Username</td>
            <td><input id="username" class="form-control" ng-model="User.UserName" style="width:140px;" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="password" class="form-control" ng-model="User.Password" type="password" style="width:140px;" /></td>
        </tr>       
        <tr>
            <td></td>
            <td><button class="btn btn-lg btn-success" ng-click="Login(User)">Login</button></td>
        </tr>
        <tr ng-show="InvalidLogin">
            <td></td>
            <td>Invalid Login</td>
        </tr>
    </table>
</div>