<div ng-controller="teamController">
    <div class="col-xs-12 divpadding titlebar navbar navbar-inverse">
        <div>Team Name</div>
    </div>
    <div class="col-xs-12 divpadding">
        <div class="col-xs-8 removebootpadding">
            <input ng-model="Team.Name" style="width:100%;" ng-disabled="ReadOnly" />
        </div>
        <div class="col-xs-4 removebootpadding" style="text-align:right;">
            <img src="/SportsStats/assets/img/save.png" style="cursor:pointer; margin-top:-5px;" ng-click="SaveTeam(Team)" ng-hide="ReadOnly" />
        </div>
    </div>
    <div class="col-xs-12 divpadding titlebar navbar navbar-inverse">
        <div>Players</div>
    </div>
    <div class="col-xs-12 divpadding" ng-touchmove="move($event)" ng-touchstart="start($event)" ng-touchend="end($event)">
        <div class="col-xs-12" style="overflow-x:auto; width:100%;">
            <div class="frozencolumn">
                <table class="table statsTable .table-striped">
                    <thead>
                        <tr>
                            <td ng-click="SortStats('PlayerName')" class="headcol2b header firstcolumn">Name</td>
                            <td ng-click="SortStats(StatType.Name)" class="header" ng-repeat="StatType in Team.StatTypes">{{StatType.DisplayName}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Player in Team.TeamPlayerStats">
                            <td ng-click="GoToPlayer(Player.PlayerID)" class="firstcolumn headcol2b">
                                <img src="/SportsStats/assets/img/view-big.png" style="cursor: pointer; margin-right: 10px; margin-bottom: 3px;" />#{{Player.PlayerNumber}} {{Player.PlayerName}}
                            </td>
                            <td ng-click="GoToPlayer(Player.PlayerID)" ng-repeat="Stats in Player.PlayerStats" style="padding-top:14px;">{{Stats.Value | picker:Stats.Filter}}</td>
                        </tr>
                        <tr class="totalRow" ng-repeat="Player in Team.TeamTotalStats">
                            <td class="firstcolumn headcol2b">
                                Total
                            </td>                            
                            <td ng-repeat="Stats in Player.PlayerStats" style="padding-top:14px;">{{Stats.Value | picker:Stats.Filter}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 removebootpadding" ng-hide="ReadOnly">
            <img src="/SportsStats/assets/img/add.png" style="cursor: pointer; margin-right:3px;" ng-click="AddPlayer(NewPlayer)" />
            <input ng-model="NewPlayer.Name" style="width:175px;" placeholder="player name" />
            <input type="number" min="0" ng-hide="HideNumber" ng-model="NewPlayer.Number2" placeholder="#" style="width:50px;" />
        </div>
        <div class="col-xs-12 removebootpadding" ng-hide="ReadOnly">
            <img src="/SportsStats/assets/img/add.png" style="cursor: pointer; margin-right:3px;" ng-click="AddPlayer(NewPlayer)" />
            <select ng-model="NewPlayer.ID" style="width:100%; max-width:175px;">
                <option ng-repeat="Player in ListAvailablePlayers" value="{{Player.ID}}">{{Player.Name}}</option>
            </select>
            <input type="number" min="0" ng-hide="HideNumber" ng-model="NewPlayer.Number" placeholder="#" style="width:50px;" />
        </div>
    </div>
    <div class="col-xs-12 divpadding titlebar navbar navbar-inverse">
        <div>Games</div>
    </div>
    <div class="col-xs-12 divpadding removebootpadding">
        <div class="row divpadding removebootpadding selectionrow" ng-click="GoToGame(Game.ID)" ng-repeat="Game in Team.Games">
            <div class="col-xs-12 col-sm-4"><img src="/SportsStats/assets/img/view-big.png" style="cursor: pointer; margin-right:5px" />{{Game.GameDate | date:"MM/dd/yyyy"}}&nbsp;&nbsp;&nbsp;{{Game.OtherTeamName}}</div>
            <div class="col-xs-3 col-sm-2" ng-class="GetResultClass(Game.DidWin)">{{Game.GameResultText}}</div>
            <div class="col-xs-9 col-sm-2">{{Game.HighScore}}-{{Game.LowScore}}</div>
        </div>
        <div class="col-xs-12 removebootpadding" ng-hide="ReadOnly">
            <div class="col-xs-12"><img src="/SportsStats/assets/img/add.png" style="cursor: pointer; margin-right:7px;" ng-click="AddGame(NewGame, Team)" /></div>
            <div class="col-xs-12">Game Date</div>
            <div class="col-xs-12"><input type="date" ng-model="NewGame.GameDate" style="width:100%; max-width:250px;" /></div>
            <div class="col-xs-12">Opponent</div>
            <div class="col-xs-12">
                <select ng-model="NewGame.Team2ID" style="width:100%; max-width:250px;">
                    <option ng-repeat="T in ListTeams" value="{{T.ID}}">{{T.Name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
