<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ForceAdmin" value="false" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.2" />
        <httpRuntime targetFramework="4.5.2" />
        <trust level="Full" />
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
		<rewrite>
			<rules>
				<rule name="AngularJS Routes2" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/SportsStats/(api)" negate="true" />
					</conditions>
					<action type="Rewrite" url="/SportsStats/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>